mixin row(props)
    .row&attributes(attributes)
        .row__conteiner
            .row__conteiner-el.row__conteiner-el--red
                p С июля 2012 года по август 2019 года, я работал в компании ООО "Инмарко-Трейд" в должности Механик технического контроля
                p С августа по настоящее время, работаю в компании ООО "Славица" в должности Электромеханик холодильного оборудования
                p В марте 2021 года решил кардинально смненить сферу деятельности в сфере програмирования на Frontend-разработчика
            .row__conteiner-el.row__conteiner-el--green
                h3 Мои данные
                ul
                    li Ткачев Алексей Николаевич
                    li 33 года
                    li Мужчина
                    li Женат
                    li Есть ребенок (6 лет) + еще один на подходе
                h3 Мои контакты
                ol
                    li Сот: +7 (904) 575-46-52
                    li e-mail: leska-nvkz@mail.ru
                    li https://vk.com/leska_nvkz
                    li https://novokuznetsk.hh.ru/applicant/resumes?from=header_new
        .row__footer
            button.row__footer-button Клик
