mixin form-button(props)
    button.form-button(
        class= props.disabled && 'form-button--disabled' 
        disabled= props.disabled
    )&attributes(attributes)
        .form-button__text= props.text
