include ../../components/header/header
include ../../components/footer/footer
include ../../components/input/input
include ../../components/modal/modal
include ../../components/slider/slider
include ../../components/row/row
include ../../components/form/form
